<!-- Custome CSS for Dispatch tickets -->
<link rel="stylesheet" href="css/dispatch.css">

<!-- Custome CSS for Dispatch tickets -->
<link rel="stylesheet" href="css/job.css">

<div id="back">
  <a href="/tickets"><i class="fas fa-arrow-left"></i></a>
</div>


<div id="search">
  <input type="text" placeholder="Search...">
</div>


<!-- All Dispatches will be rendered in here -->
<div id="dispatch_continer">
  <div class="dispatch" style="background-color: white;">
    <h2 class="cotractor">
      <%= dispatch.contractor %>
    </h2>
    <span class="load_location">
      Load: <%= dispatch.loadLocation %>
    </span>
    <span class="dump_location">
      Dump: <%= dispatch.dumpLocation %>
    </span>
    <span class="date">
      Date: <%= dispatch.date %>
    </span>

    <% if (dispatch.supplier !="" ) { %>
      <span class="supplier">Supplier: <%= dispatch.supplier %></span>
      <% } %>

        <% if (dispatch.reciever !="" ) { %>
          <span class="reciever">Reciever: <%= dispatch.reciever %></span>
          <% } %>

            <% if (dispatch.material !="" ) { %>
              <span class="material">Material: <%= dispatch.material %></span>
              <% } %>


                <div class="status">
                  <div>
                    <i class="fas fa-circle-notch"></i>
                    <%= dispatch.status.empty %>
                  </div>
                  <div>
                    <i class="far fa-paper-plane"></i>
                    <%= dispatch.status.sent %>
                  </div>
                  <div>
                    <i class="fas fa-check"></i>
                    <%= dispatch.status.confirmed %>
                  </div>
                  <div>
                    <i class="fas fa-vote-yea"></i>
                    <%= dispatch.status.active %>
                  </div>
                  <div>
                    <i class="fas fa-check-square"></i>
                    <%= dispatch.status.confirmed %>
                  </div>
                </div>
                <div class="num-trucks">
                  <i class="fas fa-truck"></i>
                  <span>
                    <%= dispatch.numTrucks %>
                  </span>
                </div>

                <div class='notes'>
                  Notes: <%= dispatch.notes %>
                </div>
  </div>
</div>


<!-- All Job Tickets will be rendered in here -->
<div id="tickets_container">
  <% for (let i=0; i < dispatch.operators.length; i++) { %>
    <a href="/job?id=<%=dispatch.operators[i].jobTicket %>">
      <div class="job <%= dispatch.operators[i].status %>">
        <h2>
          <%= dispatch.operators[i].name %>
        </h2>
        <div class="equipment">
          <div id="truck">
            <span>
              <%= dispatch.operators[i].equipment.truck %>
            </span>
          </div>
          <div id="trailer">
            <% if (dispatch.operators[i].equipment.trailer !="default" ) { %>
              <span>
                <%= dispatch.operators[i].equipment.trailer %>
              </span>
              <% } %>
          </div>
        </div>
        <div class="start_time">
          <span>
            <%= dispatch.operators[i].startTime %>
          </span>
        </div>
      </div>
    </a>
    <% } %>
</div>