<!-- Custome CSS from account page borrowed for employees page-->
<link rel="stylesheet" href="css/account.css">

<!-- Custom CSS for employees -->
<link rel="stylesheet" href="css/employee.css">

<a href="/account"><i class="fas fa-arrow-left"></i></a>


<div id="user-info">
  <h1>
    <%= user.company %>
  </h1>
  <span>
    <%= user.fName %>
      <%= user.lName %>
  </span>
</div>

<span>Employees</span>
<div id="search">
  <input type="text" placeholder="Search...">
  <a href="/new_employee"><button><i class="fas fa-plus"></i></button></a>
</div>

<div id="employees">
  <% for (let i=0 ; i < user.employees.length ; i++) { %>
    <a href="/employee?id=<%= user.employees[i].id %>">
      <div class="employee">
        <h3>
          <%= user.employees[i].fName %>
            <%= user.employees[i].lName %>
        </h3>
        <span>
          <%= user.employees[i].phone %>
        </span>
      </div>
    </a>
    <% } %>

</div>