<!-- Custome CSS from account page borrowed for employees page-->
<link rel="stylesheet" href="css/account.css">

<!-- Custom CSS for employees -->
<link rel="stylesheet" href="css/employee.css">

<div id="controls">
  <a id="exit" href="/account">
    <i class="fas fa-arrow-left"></i>
  </a>
</div>


<div id="user-info">
  <h1>
    <%= user.company %>
  </h1>
  <span>
    <%= user.fName %>
    <%= user.lName %>
  </span>
</div>

<div id="search_button">
  <input type="text" placeholder="Search...">
  <button onclick="toNewEmployee()"><i class="fas fa-plus"></i></button>
</div>



<div id="users">
  <% for (let i=0 ; i < user.employees.length ; i++) { %>
  <div class="employee">
    <a href="/employee?id=<%= user.employees[i].id %>">
      <h3>
        <%= user.employees[i].fName %>
        <%= user.employees[i].lName %>
      </h3>
    </a>
  </div>
  <% } %>
</div>

<script src="js/search_tickets.js"></script>

<script>
  function toNewEmployee() {
    window.location.href = "/new_employee"
  }
</script>


<script>

  $(document).ready(() => {
    const search = document.querySelector("#search_button input");
    search.addEventListener("keyup", (e) => {
      const TYPE = "employee";
      searchTickets(e.target.value, TYPE);
    })
  })

</script>