<!-- Custome CSS from account page borrowed for employees page-->
<link rel="stylesheet" href="css/account.css">

<!-- Custome CSS from edit employee page -->
<link rel="stylesheet" href="css/edit_employee.css">

<link rel="stylesheet" href="css/account_info.css">


<div id="controls">
  <a id="exit" href="/employees">
    <i class="fas fa-arrow-left"></i>
  </a>
</div>

<div id="user-info">
  <h1>
    <%= user.company %>
  </h1>
  <span>
    <%= user.name %>
  </span>
</div>

<div class="user">
  <div class="user_details">
    <h3 class="user_name">
      <%= employee.fName %>
      <%= employee.lName %>
    </h3>
    <span class="user_phone">
      <%= employee.phone %>
    </span>
    <span class="user_email">
      <%= employee.email %>
    </span>
    <div class="edit">
      <i class="fas fa-edit"></i>
    </div>
  </div>

  <div class='edit_form'>
    <legend>Edit <%= employee.fName %>
      <%= employee.lName %>'s Profile</legend>

    <div class="form-group">
      <label>First Name*</label>
      <input type="text" class="form-control fName" name="fName" placeholder="First Name" value="<%= employee.fName %>">
      <p class="fName-error error"></p>
    </div>
    <div class="form-group">
      <label>Last Name*</label>
      <input type="text" class="form-control lName" name="lName" placeholder="Last Name" value="<%= employee.lName %>">
      <p class="lName-error error"></p>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address*</label>
      <input type="email" class="form-control email" name="email" placeholder="Email" value="<%= employee.email %>">
      <p class="email-error error"></p>
    </div>
    <div class="form-group">
      <label>Phone*</label>
      <input type="phone" class="form-control phone" name="phone" placeholder="Phone" value="<%= employee.phone %>">
      <p class="phone-error error"></p>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control password" name="secretSauce" placeholder="Passowrd">
      <small class="form-text text-muted">Password must include one number,
        upper case letter and lower case letters.</small>
      <p class="password-error error"></p>
    </div>

    <p class="form-error error"></p>
    <button type="button" class="submit btn btn-primary" onclick="editEmp()">Submit</button>
    <button type="button" class="cancel btn btn-danger">Cancel</button>
  </div>


</div>

<div id="delete">
  <button id="delete_button">Delete</button>
</div>

<script>

</script>

<script src="js/user_controller.js"></script>
<script src="js/reset_errors.js"></script>
<script src="js/employee.js"></script>