<!-- Custom css for job html. -->
<link rel="stylesheet" href="css/job_page.css">

<!-- Custom css for load tickets -->
<link rel="stylesheet" href="css/load.css">

<!-- Custome CSS for Dispatch tickets -->
<link rel="stylesheet" href="css/ticket_preview.css">

<div id="back">
  <% if (user.type !="dispatcher" ) { %>
    <a href="/dashboard"><i class="fas fa-arrow-left"></i></a>
    <% } else { %>
      <a href="/dispatch?id=<%= job.dispatchTicket %> "><i class="fas fa-arrow-left"></i></a>
      <% } %>
</div>

<!-- All Dispatches will be rendered in here -->
<div id="ticket_preview_container">
  <div id="ticket_preview" class="<%= job.status %>">
    <h2>
      <%= job.contractor %>
    </h2>
    <span id="date">
      <%= job.date %>
    </span>
    <div id="load">
      <%= job.loadLocation %>
        <p class="ticket_text">Load</p>
    </div>
    <div id="dump">
      <%= job.dumpLocation %>
        <p class="ticket_text">Dump</p>
    </div>

    <div id="details">
      <% if (job.supplier !="" ) { %>
        <div>
          <span id="supplier">Supplier: <%= job.supplier %></span>
        </div>
        <% } %>

          <% if (job.reciever !="" ) { %>
            <div>
              <span id="reciever">Reciever: <%= job.reciever %></span>
            </div>
            <% } %>

              <% if (job.material !="" ) { %>
                <div>
                  <span id="material">Material: <%= job.material %></span>
                </div>
                <% } %>
                  <div id='notes'>
                    Notes: <%= job.notes %>
                  </div>
    </div>


    <div id="num-trucks">
      <%= job.startTime %>
    </div>
    <div id="toggles">
      <i class="down fas fa-angle-down" onclick="toggleDown()"></i>
      <i class="up fas fa-angle-up" style="display:none" onclick="toggleUp()"></i>
    </div>
  </div>
</div>



<% if (user.type!="dispatcher" ) { %>
  <% if (job.status=="sent" ) { %>
    <div id="positive_button_container">
      <button class="new_load_ticket" onclick="confirmJobTicket()">Confirm</button>
    </div>
    <% } %>
      <% if ( job.status=="confirmed" ) { %>
        <div id="positive_button_container">
          <button class="new_load_ticket" onclick="activateJobTicket()">Activate</button>
        </div>
        <% } %>

          <% if ( job.status=="active" ) { %>
            <div id="positive_button_container">
              <% if (job.loadTickets[job.loadTickets.length - 1]!=undefined && job.loadTickets[job.loadTickets.length -
                1].status=="active" ) { %>
                <button class="new_load_ticket" onclick="openFinishLoadModal()">Finish Load
                  Ticket</button>
                <% } else { %>
                  <button class="new_load_ticket" onclick="openNewLoadModal()">Add Load
                    Ticket</button>
                  <% } %>
            </div>
            <% } %>
              <% } %>

                <!-- All load tickets will be rendered here-->
                <div id="load_ticket">
                  <% for ( let i=0; i < job.loadTickets.length; i++) { %>
                    <div id="<%= i %>" class="load <%= job.loadTickets[i].status %>">
                      <div class="times">
                        <div class="load_time">
                          <span>Load: <%= job.loadTickets[i].loadTime %></span>
                        </div>
                        <div class="dump_time">
                          <% if (job.loadTickets[i].dumpTime==undefined && user.type!="dispatcher" ) { %>
                            <button id="dump_load" onclick="quickDump()">Dump</button>
                            <% } else { %>
                              <span>Dump: <%= job.loadTickets[i].dumpTime %></span>
                              <% } %>
                        </div>

                      </div>
                      <div class="weight">
                        <span>
                          <%= job.loadTickets[i].material %>
                        </span>
                        <span>
                          <%= job.loadTickets[i].tonnage %>
                        </span>
                      </div>

                      <div class="load_details">
                        <div class="load_location">
                          <span>Load: <%= job.loadTickets[i].loadLocation %></span>
                        </div>
                        <div class="dump_location">
                          <span>Dump: <%= job.loadTickets[i].dumpLocation %></span>
                        </div>
                      </div>
                      <% if (job.status !="complete" && user.type !="dispatcher" ) { %>
                        <div class="edit_load"><a href="/edit_load?jobId=<%=job._id%>&loadId=<%= i %>"><i class=" fas
                            fa-edit"></i></a></div>
                        <% } %>
                    </div>
                    <% } %>
                </div>

                <% if (user.type!="dispatcher" ) { %>
                  <% if (job.status=="sent" ) { %>
                    <div id="negative_button_container">
                      <button class="new_load_ticket" onclick="declineJobTicket()">Decline</button>
                    </div>
                    <% } %>
                      <% if ( job.status=="confirmed" ) { %>
                        <div id="negative_button_container">
                          <button class="new_load_ticket" onclick="declineJobTicket()">Cancel
                            Job</button>
                        </div>
                        <% } %>

                          <% if ( job.status=="active" ) { %>
                            <div id="negative_button_container">
                              <button class="new_load_ticket" onclick="openSignOffModal()">Sign
                                Off</button>
                            </div>
                            <% } %>
                              <% } %>

                                <div id="new_load_ticket_modal" class="modal">
                                  <div id='new_load_ticket' class="modal-content">
                                    <h3>Add Load Ticket</h3>
                                    <div class="mb-3">
                                      <label for="exampleFormControlInput1" class="form-label">Load
                                        Location</label>
                                      <input type="email" class="form-control" id="load_location">
                                      <span class="error" id="load_location_error"></span>
                                    </div>
                                    <div class="mb-3">
                                      <label for="exampleFormControlTextarea1" class="form-label">Load
                                        Time</label>
                                      <input type="time" class="form-control load_time" id="load_time">
                                      <span class="error" id="load_time_error"></span>
                                    </div>
                                    <div class="mb-3">
                                      <label for="exampleFormControlTextarea1" class="form-label">Material</label>
                                      <input class="form-control load_time" id="load_material">
                                      <span class="error" id="load_material_error"></span>
                                    </div>
                                    <div class="mb-3">
                                      <label for="exampleFormControlTextarea1" class="form-label">Tonnage</label>
                                      <input type="number" class="form-control load_time" id="tonnage">
                                      <span class="error" id="tonnage_error"></span>
                                    </div>
                                    <span class="error" id="create_load_ticket_error"></span>
                                    <button type="button" class="btn btn-secondary"
                                      onclick="createLoadTicket()">Submit</button>
                                    <button type="button" class="btn btn-warning"
                                      onclick="closeModals()">Cancel</button>
                                  </div>
                                </div>

                                <div id="finish_load_ticket_modal" class="modal">
                                  <div id='finish_load_ticket' class="modal-content">
                                    <h3>Finish Load Ticket</h3>
                                    <div class="mb-3">
                                      <label for="exampleFormControlInput1" class="form-label">Dump
                                        Location</label>
                                      <input type="email" class="form-control load_location" id="dump_location"
                                        value="<%= job.dumpLocation %>">
                                      <span class="error" id="dump_location_error"></span>
                                    </div>
                                    <div class="mb-3">
                                      <label for="exampleFormControlTextarea1" class="form-label">Dump
                                        Time</label>
                                      <input type="time" class="form-control load_time" id="dump_time">
                                      <span class="error" id="dump_time_error"></span>
                                    </div>

                                    <span class="error" id="finish_load_ticket_error"></span>
                                    <button type="button" class="btn btn-secondary"
                                      onclick="finishLoadTicket()">Submit</button>
                                    <button type="button" class="btn btn-warning"
                                      onclick="closeModals()">Cancel</button>
                                  </div>
                                </div>

                                <div id="sign_off_ticket_modal" class="modal">
                                  <div id='finish_load_ticket' class="modal-content">
                                    <h3>Sign Off</h3>
                                    <div class="mb-3">
                                      <label for="exampleFormControlTextarea1" class="form-label">Sign
                                        Off Time</label>
                                      <input type="time" class="form-control load_time" id="sign_off_time">
                                      <span class="error" id="sign_off_error"></span>
                                    </div>
                                    <button type="button" class="btn btn-secondary" onclick="signOff()">Submit</button>
                                    <button type="button" class="btn btn-warning"
                                      onclick="closeModals()">Cancel</button>
                                  </div>
                                </div>

                                <!-- This JS file contains functions that will add new load tickets to job tickets. -->
                                <script src="js/job.js"></script>

                                <!-- This JS file contains functions that will change the status of tickets. -->
                                <script src="js/ticket_status_controller.js"></script>

                                <script>

                                  /**
                                   * This function shows the dispatch details in the DOM. 
                                   */
                                  function toggleDown() {
                                    // Get details container and toggle
                                    const details = document.getElementById("details");
                                    const ticketPreview = document.getElementById("ticket_preview");
                                    const toggleUp = document.querySelector("#toggles .up");
                                    const toggleDown = document.querySelector("#toggles .down");
                                    const toggle = document.getElementById("toggles");

                                    ticketPreview.style.gridTemplateRows = "30px 25px 50px 50px 150px 30px"
                                    details.style.display = "block";
                                    toggleDown.style.display = "none";
                                    toggleUp.style.display = "block";
                                    toggle.style.gridRow = "6 / span 1";
                                  }

                                  /**
                                   * This function shows the dispatch details in the DOM. 
                                   */
                                  function toggleUp() {
                                    // Get details container and toggle
                                    const toggle = document.getElementById("toggles");
                                    const details = document.getElementById("details");
                                    const toggleUp = document.querySelector("#toggles .up");
                                    const toggleDown = document.querySelector("#toggles .down");
                                    const ticketPreview = document.getElementById("ticket_preview");

                                    toggle.style.gridRow = "5 / span 1;"
                                    ticketPreview.style.gridTemplateRows = "30px 25px 50px 50px 30px"
                                    details.style.display = "none";
                                    toggleDown.style.display = "block";
                                    toggleUp.style.display = "none";
                                  }
                                </script>