<!-- Custom css for job html. -->
<link rel="stylesheet" href="css/job_page.css">

<!-- Custom css for load tickets -->
<link rel="stylesheet" href="css/load.css">

<div id="back">
  <a href="/dispatch?id=<%= job.dispatchTicket %> "><i class="fas fa-arrow-left"></i></a>
</div>


<!-- All job details will be rendered here -->
<div id="job_details">
  <div id="parties">
    <h1 id="contractore">
      <%= job.contractor %>
    </h1>
    <h3 id="dispatcher">
      <%= job.dispatcher.company %>
    </h3>
  </div>

  <div id="operator">
    <span id="operator_name">
      <%= job.operator.name %>
    </span>
  </div>

  <div id="details">
    <span id="date">
      <%= job.date %>
    </span>
    <span id="time">
      <%= job.startTime %>
    </span>
    <div id="equipment">
      <span id="truck">
        <%= job.equipment.truck %>
      </span>
      <% if (job.equipment.trailer !="default" ) { %>
        <span id="trailer">
          <%= job.equipment.trailer %>
        </span>
        <% } %>
    </div>
    <div id="locations">
      <span id="load">Load: <%= job.loadLocation %></span>
      <span id="dump">Dump: <%= job.dumpLocation %></span>
      <span id="status">
        Status: <%= job.status %>
      </span>
    </div>
  </div>
</div>

<% if (user.type=="operator" ) { %>
  <% if (job.status=="sent" ) { %>
    <div id="positive_button_container">
      <button class="new_load_ticket" onclick="confirmJobTicket()">Confirm</button>
    </div>
    <% } %>
      <% if ( job.status=="confirmed" ) { %>
        <div id="positive_button_container">
          <button class="new_load_ticket" onclick="activateJobTicket()">Activate</button>
        </div>
        <% } %>

          <% if ( job.status=="active" ) { %>
            <div id="positive_button_container">
              <button class="new_load_ticket">Add Load Ticket</button>
            </div>
            <% } %>
              <% } %>

                <!-- All load tickets will be rendered here-->
                <div id="load_ticket">


                  <div class="load done">
                    <div class='summary'>
                      <div class="times">
                        <div>
                          <span>Load: 7:30 AM</span>
                        </div>
                        <div>
                          <span>Dump: 10:30 AM</span>
                        </div>

                      </div>
                      <div class="weight">
                        <span>39.65</span>
                      </div>
                    </div>


                    <div class="load_details">
                      <div class="material">
                        <span>Asphalt</span>
                      </div>

                      <div class="reciever">
                        <span>Winvan</span>
                      </div>

                      <div class="load_location">
                        <span>Winvan Asphalt Plant</span>
                      </div>

                      <div class="dump_location">
                        <span>6901 20 ave Surrey</span>
                      </div>
                    </div>
                  </div>

                  <div class="load active">
                    <div class="times">
                      <div>
                        <span>Load: 1:30 PM</span>
                      </div>
                      <div>
                        <button id="dump_load">Dump</button>
                      </div>

                    </div>
                    <div class="weight">
                      <span>38.95</span>
                    </div>
                  </div>
                </div>
                <% if (user.type=="operator" ) { %>
                  <% if (job.status=="sent" ) { %>
                    <div id="negative_button_container">
                      <button class="new_load_ticket" onclick="declineJobTicket()">Decline</button>
                    </div>
                    <% } %>
                      <% if ( job.status=="confirmed" ) { %>
                        <div id="negative_button_container">
                          <button class="new_load_ticket" onclick="cancelJobTicket()">Cancel Job</button>
                        </div>
                        <% } %>

                          <% if ( job.status=="active" ) { %>
                            <div id="negative_button_container">
                              <button class="new_load_ticket" onclick="signOffJobTicket()">Sign Off</button>
                            </div>
                            <% } %>
                              <% } %>

                                <!-- This JS file contains functions that will change the status of tickets. -->
                                <script src="js/ticket_status_controller.js"></script>