<!-- Custome CSS for Dispatch tickets -->
<link rel="stylesheet" href="css/dispatch.css">

<!-- Custome CSS for tabs -->
<link rel="stylesheet" href="css/tabs.css">

<!-- Custome CSS for Dispatch tickets -->
<link rel="stylesheet" href="css/job.css">

<!-- Custome CSS for date_time input -->
<link rel="stylesheet" href="css/date_time.css">

<!-- Custome CSS for tickets page -->
<link rel="stylesheet" href="css/tickets.css">

<!-- CSS for when there are no tickets -->
<link rel="stylesheet" href="css/no_ticket.css">



<div id="tabs">
    <% if (user.type=="dispatcher" ) { %>
    <div id="left_tab">
        <span>Dispatches</span>
    </div>
    <div id="right_tab">
        <span>Jobs</span>
    </div>
    <% } else { %>
    <div id="single_tab" style="width: 100%;">
        <span>Jobs</span>
    </div>
    <% } %>
</div>


<div id="search_button">
    <input type="text" placeholder="Search...">
    <button onclick="toggleTicketQuery()">
        <i class="fas fa-chevron-down"></i>
    </button>
</div>

<div id="query" style="display: none;">
    <div class="date_date">
        <label>Date Range</label>
        <input type="date" class="date form-control" id="start">
        <input type="date" class="date form-control" id="finish">
    </div>
    <% if (user.type !== "employee") { %>
    <div id="contractor">
        <label for="contractor" class="form-label">Contractor</label>
        <select class="form-select mb-3" aria-label="Select a contractor.">
            <option value="default" selected>Select A Contractor</option>
            <% for (let contractor in contractors) { %>
            <option value="<%=contractor%>">
                <%= contractor %>
            </option>
            <% } %>
        </select>
    </div>
    <% } %>
    <span class="error form-error"></span>
    <button onclick="makeQuery()" style="width: 100%;">
        Search
    </button>

    <button onclick="reset()" style="width: 100%;">
        Reset
    </button>
</div>

<% if (user.type==="dispatcher" ) { %>
<!-- All Dispatches will be rendered in here -->
<div id="dispatch_container">
    <% if (dispatches.length==0) { %>
    <div class="no_tickets">
        <h1>
            Could find any Dispatch Tickets
        </h1>
        <span>
            <a href="/new_dispatch">
                <button type="button" class="btn btn-primary">
                    New Dispatch
                </button>
            </a>
        </span>
    </div>
    <% } else { %>
    <% for(let i=0; i < dispatches.length; i++) { %>
    <div class="dispatch complete">
        <a href="/dispatch?id=<%= dispatches[i].id %>">
            <h2>
                <%= dispatches[i].contractor %>
            </h2>
        </a>
        <span class="address">
            <%= dispatches[i].loadLocation %>
        </span>

        <div class="status">
            <div>
                <i class="fas fa-exclamation-circle"></i>
                <%= dispatches[i].status.empty %>
            </div>
            <div>
                <i class="far fa-paper-plane"></i>
                <%= dispatches[i].status.sent %>
            </div>
            <div>
                <i class="far fa-calendar-check"></i>
                <%= dispatches[i].status.confirmed %>
            </div>
            <div>
                <i class="fas fa-spinner"></i>
                <%= dispatches[i].status.active %>
            </div>
            <div>
                <i class="fas fa-calendar-check"></i>
                <%= dispatches[i].status.complete %>
            </div>
        </div>
        <div class="num-trucks">
            <i class="fas fa-truck"></i>
            <%= dispatches[i].numTrucks %>
        </div>
    </div>
    <% } %>
    <% } %>
</div>
<% } %>

<!-- All job tickets will be rendered here -->
<div id="job_container">
    <% if (jobs.length==0) { %>
    <div class="no_tickets">
        <h1>
            Could find any Job Tickets
        </h1>
        <% if (user.type === "operator") { %>
        <span>
            <a href="/new_job">
                <button type="button" class="btn btn-primary">
                    New Job
                </button>
            </a>
        </span>
        <% } %>
    </div>
    <% } else { %>
    <% for (let i=0; i < jobs.length; i++) { %>
    <div class="job <%= jobs[i].status %>">
        <a href="/job?id=<%=jobs[i]._id %>">
            <h2>
                <%= jobs[i].contractor %>
            </h2>
        </a>
        <% if (user.type !="dispatcher" ) { %>
        <h5>
            <%= jobs[i].dispatcher.company %>
        </h5>
        <% } else { %>
        <h5>
            <%= jobs[i].operator.name %>
        </h5>
        <% } %>
        <div class="equipment">
            <div id="truck">
                <span>
                    <%= jobs[i].equipment.truck %>
                </span>
            </div>
            <div id="trailer">
                <% if (jobs[i].equipment.trailer !="default" ) { %>
                <span>
                    <%= jobs[i].equipment.trailer %>
                </span>
                <% } %>
            </div>
        </div>
        <div class="start_time">
            <span>
                <%= jobs[i].start.toLocaleTimeString([], { hour: '2-digit' , minute: '2-digit', hour12: false }) %>
            </span>
        </div>
    </div>
    <% } %>
    <% } %>
</div>


<script src="js/modal.js"> </script>
<script src="js/ticket_controller.js"> </script>
<script src="js/search_tickets.js"></script>
<script src="js/tickets.js"> </script>


<% if(user.type==="dispatcher") { %>
<script>
    const disp = document.getElementById("left_tab");
    const job = document.getElementById("right_tab");

    disp.addEventListener("click", (e) => {
        const dispatchContainer = document.getElementById("dispatch_container");
        const jobContainer = document.getElementById("job_container");

        //Change tab colors
        job.style.backgroundColor = "#CFD8DC";
        job.style.color = "black";

        disp.style.backgroundColor = "#004065";
        disp.style.color = "white";

        //Change visible cards with CSS
        jobContainer.style.display = "none";
        dispatchContainer.style.display = "block";
    })

    job.addEventListener("click", (e) => {
        const dispatch_container = document.getElementById("dispatch_container");
        const job_container = document.getElementById("job_container");

        //Change tab colors
        job.style.backgroundColor = "#004065";
        job.style.color = "white";

        disp.style.backgroundColor = "#CFD8DC";
        disp.style.color = "black";

        //Change visible cards with CSS
        job_container.style.display = "block";
        dispatch_container.style.display = "none";
    })
</script>
<% } else { %>
<script>
    const job = document.getElementById("job");
    const job_container = document.getElementById("job_container");
    job_container.style.display = "block";
    job.style.gridColumn = "1 / span 2";
</script>
<% } %>